<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div><a href="<%=url%>"><%=url%></a> has been shortened to <a href="https://tinyrhett.herokuapp.com/to/<%=code%>">https://tinyrhett.herokuapp.com/to/<%=code%></a></div>
    </body>
</html>